_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/
.DS_Store

.vscode/browse.vc.db
.vscode/browse.vc.db-shm
.vscode/browse.vc.db-wal
.vscode/c_cpp_properties.json
.vscode/settings.json


