title: OoeyGUI
description: >-
  GUI Developer, turned IoT Developer, Robotics Developer, turned XR Developer
baseurl: ""
url: "https://ooeygui.com"

# Social Media
twitter_username: ooeygui
github_username: ooeygui
youtube_username: ooey_gui

theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-redirect-from

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - README.md

sass:
  load_paths:
    - _sass
    - node_modules
